@model IEnumerable<EFBANXE.Models.Xe>

@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create") |
    @Html.ActionLink("Xe đã xóa", "Deleted")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiXe.Ten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            <img alt="@Url.Content(item.Ten)" width="200" height="200" src="@Url.Content(item.Hinh)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiXe.Ten)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.XeId }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.XeId }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.XeId })
        </td>
    </tr>
}

</table>
