@model EFBANXE.ViewModels.XeTinTucViewModel
@{
    ViewBag.Title = "Trang Chủ";
}
<div>
    <img src="~/Content/images/cover.jpg" width="100%" />
    <h2 class="text-primary" style="text-align:center;font-size:30px;font-weight:bold;font-family:'Times New Roman', Times, serif">SẢN PHẨM</h2>
    @foreach (var xe in Model.Xes)
    {
        <a class="col-sm-12 col-xs-12 col-md-4 col-lg-4" href="#" style="text-decoration:none">
            <img class="panel panel-info" src="@Url.Content(xe.Hinh)" alt="@xe.Ten" width="100%" height="250px" />
            <h4 class="text-primary text-center panel-title">@xe.Ten</h4>
            <h5 class="text-primary text-center ">@xe.Gia</h5>
        </a>
    }
    <div style="clear:both"></div>
    <hr />
    <h2 class="text-primary" style="text-align:center;font-size:30px;font-weight:bold;font-family:'Times New Roman', Times, serif">TIN TỨC</h2>
    @foreach (var tintuc in Model.TinTucs)
    {
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
            <img src="@Url.Content(tintuc.Hinh)" width="100%" height="250px"/>
            <p style="padding:10px" class="text-primary text-center panel-title">@tintuc.TieuDe</p>
            <p style="padding:10px" class="text-muted">@tintuc.NoiDung</p>
        </div>
    }
</div>
