@model IEnumerable<EFBANXE.Models.DangKyLaiThu>

@{
    ViewBag.Title = "Đăng Ký Lái Thử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center btn-info" style="padding:10px">Đăng Ký Lái Thử</h2>

<table class="table table-hover table-responsive">
    <tr class="active">
        <th width="150">
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xe.Ten)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xe.Ten)
            </td>
            <td>
                @{ string a,b = "";}
                @if (item.TrangThai)
                {
                    a = "btn btn-danger";
                    b = "Undo";
                }
                else
                {
                    a = "btn btn-default";
                    b = "Duyệt";
                }
                <input value="@b" type="submit" class="@a" onclick="window.location.href='@Url.Action("Duyet", new { id = item.Id })'" />
            </td>
        </tr>
                    }
</table>
@section Scripts{
    <script>
        function Duyet(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Duyet","DangKyLaiThus")/'+id,
                success: function (data) {
                    alert('Đã duyệt!');
                }
            });
        }
    </script>
}
